/* Navbar */
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/font/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Berkshire_Swash';
    src: url('../assets/font/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

/* NAVBAR */
.navbar {
    background-color: white;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;

}

/* Title NAVBAR */
.title {
    margin-left: -10px;
}

.navbar-brand {
    font-family: 'Berkshire_Swash';
    font-size: 40px;
    color: #1A3263 !important;
}

.navbar-nav .btn {
    font-family: 'OpenSans';
    text-transform: uppercase;
    border-style: solid;
    max-height: 35px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 5px;
    margin-top: 15px;
}

.mr-sm-2 {
    width: 430px !important;
    margin-right: 5px;
}

.batas {
    visibility: hidden;
}

.shop {
    visibility: hidden;
}

.masuk {
    border-color: #1A3263;
    background-color: white;
}

.daftar {
    border-color: #1A3263;
    background-color: #1A3263;
    color: white;
}

/* Tulisan Vendor */
.vendor {
    text-transform: uppercase;
    font-family: 'OpenSans';
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -10px;
}

/* Toko */
.card {
    max-width: 300px !important;
    border-radius: 20px;
    margin-bottom: 10px;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px !important;
}

.card-title {
    font-size: 14px;
    margin-top: -15px;
    margin-left: -10px;
}

.card-text {
    font-size: 12px;
    margin-top: -10px;
    margin-left: -10px;
}

.lihat {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 0px 45px 0px 45px;
    margin-left: -10px;
    background-color: #1A3263;
    color: white;
    text-transform: uppercase;
    font-family: 'OpenSans';
}

hr {
    border-color: black;
}


/* FOOTER */
.footer {
    background-color: #F0FFF0;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: black;
    padding-bottom: 20px;
}

/* ISI footer */
.content {
    margin-top: 10px;
}

/* finddecor footer */
.ftitle {
    font-family: 'Berkshire_Swash';
    color: #1A3263;
    font-size: 24px;
}

/* isi footer */
.isi a {
    color: black;
}

/* Tulisan Pembayaran */
.bayar {
    text-transform: uppercase;
    margin-top: 10px;
    font-weight: 500;
    margin-bottom: -10px;
}

/* logo */
.logo {
    margin-left: 5px;
}

/* Atur Margin Bank */
.bni {
    margin-left: -40px;

}

.bri {
    margin-left: -35px;
    margin-top: 20px;
}


/* RESPONSIVE DESKTOP */

@media (min-width: 992px) {

    /* Search */
    .mr-sm-2 {
        margin-left: 20px;
        width: 750px !important;
    }

    /* Caraousel */
    .carousel-inner {
        width: 100%;
        max-height: 400px !important;
    }

    /* Icon shop */
    .shop {
        color: #1A3263;
        margin-left: 25px;
        margin-right: 15px;
        visibility: visible;
    }

    /* Tombol Lihat */
    .lihat {
        margin-top: -20px;
    }

    /* Card */
    .card {
        max-width: 300px !important;
    }

    .toko {
        margin-left: 55px;
    }

    .batas {
        font-size: 35px;
        margin-top: 3px;
        margin-right: 25px;
        visibility: visible;
    }

    .daftar:hover {
        background-color: white;
    }

    .masuk:hover {
        background-color: #1A3263;
        color: white;
    }

    .lihat:hover {
        color: #1A3263;
        background-color: white;
    }

    .navbar-brand:hover {
        color: black !important;
    }

    .shop:hover {
        color: black;
    }
}