/* Navbar */
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/font/OpenSans/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Berkshire_Swash';
    src: url('../assets/font/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

/* NAVBAR */
.navbar {
    background-color: white;
    color: #1A3263;
}

.navbar-brand {
    font-family: 'Berkshire_Swash';
    font-size: 40px;
    color: #1A3263 !important;
}

.navbar-nav .btn {
    font-family: 'OpenSans';
    max-height: 35px;
    font-size: 14px;
}

.mr-sm-2 {
    width: 430px !important;
}

.batas {
    visibility: hidden;
}

.shop {
    visibility: hidden;
}

.masuk {
    border-color: #1A3263;
    background-color: white;
}

.daftar {
    border-color: #1A3263;
    background-color: #1A3263;
    color: white;
}

/* Tulisan Vendor */
.vendor {
    font-family: 'OpenSans';
    font-size: 32px;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

/* Toko */
.vendor .card {
    max-width: 300px !important;
    border-radius: 10px;
    margin-bottom: 10px;
}


.vendor .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px !important;
}

.vendor .card-title {
    font-size: 14px;
    margin-left: -10px;
}

.vendor .card-text {
    font-size: 12px;
    margin-top: -10px;
    margin-left: -10px;
}

.lihat {
    background-color: #1A3263;
    color: white;
    font-family: 'OpenSans';
}

hr {
    border-color: black;
}

/* MENU SAMPING */
.menu a {
    font-family: 'OpenSans';
    font-size: 22px;
}

/* Profil */
.kotak {
    margin-left: -60px;
    font-family: 'OpenSans';
}

.kotak p {
    font-size: 16px;
}

.kotak .form-control {
    max-height: 25px !important;
    border-color: black;
    font-size: 13px;
}


.tombol {
    background-color: #1A3263;
    color: white;
    font-family: 'OpenSans';
}

.footer1 {
    font-family: 'OpenSans';
    background-color: white;
}

footer {
    background-color: white;
}

/* finddecor footer */
.ftitle {
    font-family: 'Berkshire_Swash';
    color: #1A3263;
    font-size: 24px;
}

/* Atur Margin Bank */
.bni {
    margin-left: -40px;

}

.bri {
    margin-left: -35px;
    margin-top: 20px;
}

/* RESPONSIVE DESKTOP */

@media (min-width: 992px) {

    /* Search */
    .mr-sm-2 {
        width: 750px !important;
    }

    /* Caraousel */
    .carousel-inner {
        width: 100%;
        max-height: 400px !important;
    }

    /* Icon shop */
    .shop {
        visibility: visible;
    }

    /* Tombol Lihat */

    .batas {
        font-size: 35px;
        visibility: visible;
    }

    .daftar:hover {
        background-color: white;
    }

    .masuk:hover {
        background-color: #1A3263;
        color: white;
    }

    .lihat:hover {
        color: #1A3263;
        background-color: white;
    }

    .navbar-brand:hover {
        color: black !important;
    }

    .shop:hover {
        color: black;
    }

    .profil:hover {
        color: black;
    }

    .tombol:hover {
        color: #1A3263;
        background-color: white;
        font-weight: 800;
    }
}