/* Navbar */
@font-face {
    font-family: 'OpenSans';
    src: url('../assets/font/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'Berkshire_Swash';
    src: url('../assets/font/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}

/* NAVBAR */
.navbar {
    background-color: white;
    color: #1A3263;
}

.navbar-brand {
    font-family: 'Berkshire_Swash';
    font-size: 40px;
    color: #1A3263 !important;
}

.navbar-nav .btn {
    font-family: 'OpenSans';
    max-height: 35px;
    font-size: 14px;
}

/* Ubah Style Bootstrap */

.card {
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

.form-control {
    border-color: black;
    font-size: 13px;
}

hr {
    border-color: black;
}


/* Utilty Tombol */
.tombol {
    background-color: #1A3263;
    color: white;
    font-family: 'OpenSans';
}

.masuk {
    border-color: #1A3263;
    background-color: white;
}


/* VENDOR */
.vendor {
    font-family: 'OpenSans';
    font-size: 32px;
}

.vendor .card {
    max-width: 300px !important;
    border-radius: 10px;
}

.vendor .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-height: 200px !important;
}

.vendor .card-title {
    font-size: 14px;
}

.vendor .card-text {
    font-size: 12px;
}

.warna {
    background-color: #1A3263;
}


/* Profil */
.form-control-file {
    font-size: 13px;
    color: white;
}

.font {
    font-size: 20px;
}

.content {
    font-family: 'OpenSans';
}

/* Menu Samping Profil */
.menu a {
    font-size: 22px;
}


/* FOOTER */
/* footer Title */
.ftitle {
    font-family: 'Berkshire_Swash';
    color: #1A3263;
    font-size: 24px;
}

/* Atur Margin Bank */
.bni {
    margin-left: -40px;
}

.bri {
    margin-left: -35px;
    margin-top: 20px;
}

/* HOVER */
.masuk:hover {
    background-color: #1A3263;
    color: white;
}

.tombol:hover {
    background-color: white;
    color: #1A3263;
}


/* GAK JELAS */
.batas {
    visibility: hidden;
}

.shop {
    visibility: hidden;
}


/* RESPONSIVE DESKTOP */
@media (min-width: 992px) {

    /* Search */
    .mr-sm-2 {
        width: 750px !important;
    }

    /* Caraousel */
    .carousel-inner {
        width: 100%;
        max-height: 400px !important;
    }

    /* Icon shop */
    .shop {
        visibility: visible;
    }

    .batas {
        font-size: 35px;
        visibility: visible;
    }

}